export(PP3many)
export(getPP3index)
export(getPP3loadings)
export(getPP3projdata)
export(PP3fastIX3)
export(PP3init)
export(PP3ix3FromTU)
export(PP3ix3dvsFromTU)
export(PP3slowDF3)
export(ix3sizeplot)
export(pdataplot)
export(plot.PP3)
export(print.PP3)
export(summary.PP3)
S3method(summary, PP3)
S3method(print, PP3)
S3method(plot, PP3)
useDynLib(PP3, .registration=TRUE, .fixes="C_")
import(stats)
importFrom("graphics", "abline", "hist", "lines", "par", "plot",
             "text")
